* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}



.row-side {
    position: relative;
}

.col-500 {
    background-color: black;
    height: 640px;
    width: 180px;
    position: absolute;
    left: 0;
    top: 0;
}

.row-top {
    display: flex;
    justify-content: flex-start;
}

.col-100 {
    height: 60px;
    width: 100vw;
    background-color: gray;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.content-top {
    height: 30px;
    width: 50px;
    background-color: aqua;
}

.container {
    position: relative;
    left: 180px;
    width: calc(100vw - 180px);
    background-color: orange;
    height: 520px;
    overflow-y: auto;
}

.row-main {
    display: flex;
    justify-content: center;
}

.row-songs {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.row {
    background-color: blue;
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.col-opt {
    background-color: yellow;
    height: 20px;
    width: 50px;
    border: 1px solid black;
    margin: 0 10px;
}

.col-songs {
    width: calc(100% / 6 - 20px);
    margin: 10px;
    height: 150px;
    background-color: brown;
}

.row-bottom {
    background-color: yellowgreen;
    height: 62px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.col-20 {
    background-color: pink;
    height: 20px;
    width: calc(100% / 6);
}

.col-40 {
    background-color: pink;
    height: 20px;
    width: calc(100% / 3);
}


/* TABLET */
@media screen and (max-width: 768px) {
    .col-songs {
        width: calc(100% / 4 - 20px);
    }
}

/* TABLET SMALL */
@media screen and (max-width:480px) {
    .col-songs {
        width: calc(100% / 2 - 20px);
    }
}

/* MOBILE */
@media screen and (max-width: 320px) {
    .col-500 {
        background-color: black;
        height: 580px;
        width: 50px;
    }
    .container {
        width: calc(100% - 50px);
        position: relative;
        left: 50px;
    }
}